<h2>${_("News / Pages")}</h2>
<div style="margin-bottom: 20px">
    ${_("Ok, you are an admin. So, you know what to do here. All the bells and whistles, like someone said")}.
</div>
<script type="text/javascript">
function new_document() {
    div_toggle_slide('do-new-page-item');
    document.getElementById('page-docs-title-0-0').value = '';
    document.getElementById('page-docs-intro-0-0').innerHTML = '';
    document.getElementById('page-docs-body-0-0').innerHTML = '';
    document.getElementById('page-docs-tags-0-0').value = '';
}
</script>
<div style="text-align: right; margin-bottom: 20px">
    <a href="javascript:new_document();" style="text-align: center;">
        ${_("New Document")}
    </a>
</div>
<div id="do-new-page-item" class="do-new-page" style="display: none; margin-bottom: 30px">
    <%
        c.pages_id = 0
        c.page_num = 0
        c.page_item = {
            'title': '',
            'text': '',
            'intro': '',
            'text_encoded': '',
            'intro_encoded': '',
            'tags': [],
        }
        c.page_types_filter = [c.page_types['polls']]
        c.dashboard_tab = 'news_tab'
    %>
    <%include file="/community/my/dashboard_pages_new.html"/>
</div>
<hr style="border-bottom: 1px thin #666666"/>
<div>
    % for pages_id in c.pages_id_order:
        <div id="page-item-${pages_id}" class="admin-page-item" style="margin-bottom: 20px; background-color: #2D2D2D;" onmouseover="this.style.background='#362E3D';" onmouseout="this.style.background='#2D2D2D';">
            <%
                page_type = None
                try:
                    page_type = c.pages[pages_id][0]['page_types_id']
                    page_type_desc = c.page_types_desc.get(page_type)
                except KeyError:
                    pass
                if page_type == None: continue
            %>

            % if page_type == c.page_types['documents']:

                <%
                    c.pages_id = pages_id
                    c.page_type_desc = page_type_desc
                    c.page_num = 0
                    c.page_item = c.pages[pages_id][c.page_num]
                %>
                <%include file="/community/my/dashboard_pages_page_item.html"/>

            % elif page_type == c.page_types['news']:

                <%
                    c.pages_id = pages_id
                    c.page_item = c.pages[pages_id][0]
                    c.page_num = 0
                    c.page_type_desc = page_type_desc
                %>
                <%include file="/community/my/dashboard_pages_news_item.html"/>

            % endif

        </div>
    % endfor
</div>