<%include file="/community/my/dashboard_pages_generic_header.html"/>
<div style="margin-top: 20px; padding-bottom: 20px; display: none;" class="admin-page-doc-content" id="page-docs-content-${c.pages_id}">
<div id="page-docs-navigation-${c.pages_id}">
    <%include file="/community/my/dashboard_pages_page_navigation.html"/>
</div>
<!-- <a href="javascript:reload_dashboard_pages_navigation('${c.pages_id}','page-docs-navigation-${c.pages_id}');">${_("Reload pages navigation")}</a> -->

<div class="page-docs-new">
    <div id="page-docs-new-dest-${c.pages_id}">
        <%include file="/community/my/dashboard_pages_add_document_link.html"/>
    </div>
</div>
</div>