<form action="javascript:save_document_changes('page-docs-editform-${c.pages_id}-${c.page_num}','document-save-messagebox-${c.pages_id}-${c.page_num}')" name="page-docs-editform-${c.pages_id}-${c.page_num}" id="page-docs-editform-${c.pages_id}-${c.page_num}" method="POST" autocomplete="off">
    <%include file="/community/my/dashboard_pages_edit_inner.html"/>
    <div style="width: 90%; margin-right: auto; margin-left: auto; margin-top: 20px">
        <input type="submit" value="${_("Save changes")}" style="margin-top: 20px"/>
        <span id="document-save-messagebox-${c.pages_id}-${c.page_num}" style="position: relative; left: 20px"></span>
    </div>
</form>