<h2>Polls</h2>
<div style="margin-bottom: 20px">
    ${_("Polls management, you can enable how many you want. Do et")}.
</div>
<script type="text/javascript">
function new_poll() {
    div_toggle_slide('do-new-poll-item');
    document.getElementById('poll-docs-title-0-0').value = '';
    document.getElementById('poll-docs-intro-0-0').innerHTML = '';
    document.getElementById('poll-docs-body-0-0').innerHTML = '';
    document.getElementById('poll-docs-tags-0-0').value = '';
}
</script>
<div style="text-align: right; margin-bottom: 20px">
    <a href="javascript:new_poll();" style="text-align: center;">
        ${_("New Poll")}
    </a>
</div>
<div id="do-new-poll-item" class="do-new-page" style="display: none; margin-bottom: 30px">
    <div style="margin-bottom: 20px">
        <b>${_("Note")}</b>: ${_("the poll will start with no options and disabled. You must create it first")}.
    </div>
    <%
        c.pages_id = -1
        c.page_num = 0
        c.page_item = {
            'title': '',
            'text': '',
            'intro': '',
            'text_encoded': '',
            'intro_encoded': '',
            'tags': [],
        }
        c.static_page_type = c.page_types['polls']
        c.static_page_body = ' '
        c.static_tags = ' '
        c.default_page_state = c.page_states['disabled']
        c.dashboard_tab = 'polls_tab'
    %>
    <%include file="/community/my/dashboard_pages_new.html"/>
</div>
<hr style="border-bottom: 1px thin #666666"/>
<div>
    % for pages_id in c.pages_id_order:
        <%
            page_type = None
            try:
                page_type = c.pages[pages_id][0]['page_types_id']
                page_type_desc = c.page_types_desc.get(page_type)
            except KeyError:
                pass
            if page_type != c.page_types['polls']: continue
            c.pages_id = pages_id
            c.page_item = c.pages[pages_id][0]
            c.page_num = 0
            c.page_type_desc = page_type_desc
        %>
        <div id="poll-item-${pages_id}" class="admin-page-item" style="margin-bottom: 20px; background-color: #2D2D2D;" onmouseover="this.style.background='#362E3D';" onmouseout="this.style.background='#2D2D2D';">
            <%include file="/community/my/dashboard_pages_poll_item.html"/>
        </div>
    % endfor
</div>