<input type="hidden" value="${c.pinboards_id}" name="pinboards_id"/>
<dl class="form-line">
    <dt class="form-left" style="width: 16em">
        <label><b>${_("Title")}</b></label>
        <br />
        <span style="font-size: 0.8em">${_("This is the Pin title")}.</span>
    </dt>
    <dd>
        <input type="text" id="pinboard-object-edit-title-${c.pinboards_id}" value="${c.title}" name="title" size="60" maxlength="160"/>
    </dd>
</dl>
<dl class="form-line">
    <dt class="form-left" style="width: 16em">
        <label><b>${_("Description")}</b></label>
        <br />
        <span style="font-size: 0.8em">${_("Write a brief description")}</span>
    </dt>
    <dd>
        <textarea name="description" id="pinboard-object-edit-description-${c.pinboards_id}" style="width: 480px; height: 120px">${c.description}</textarea>
    </dd>
</dl>