<div id="page-poll-options-${c.pages_id}-${c.poll_options_id}">
    <span>
        <img src="/images/actions/list-item.png" alt="${_("Option")}" title="${c.option_name}"/>
        [<b>${c.option_votes}</b>] <span id="page-poll-options-name-${c.pages_id}-${c.poll_options_id}">${c.option_name}</span>
        [
            <a href="javascript:edit_poll_option('${c.poll_options_id}','page-poll-options-name-${c.pages_id}-${c.poll_options_id}','page-poll-options-name-msg-${c.pages_id}-${c.poll_options_id}')">${_("Rename")}</a>
            % if not c.option_votes:
              | 
                <a href="javascript:delete_poll_option('${c.poll_options_id}','page-poll-options-${c.pages_id}-${c.poll_options_id}','page-poll-options-name-msg-${c.pages_id}-${c.poll_options_id}')">${_("Remove")}</a>
            % endif
        ]
        <span id="page-poll-options-name-msg-${c.pages_id}-${c.poll_options_id}"></span>
    </span>
</div>