<div style="margin-top: 20px; margin-bottom: 20px">
    <%
        c.page_item = {
            'title': '',
            'text': '',
            'intro': '',
            'text_encoded': '',
            'intro_encoded': '',
            'tags': [],
        }
        c.default_page_state = c.page_states['enabled']
        c.default_page_type = c.page_types['documents']
    %>
    <%include file="/community/my/dashboard_pages_new.html"/>
    <%include file="/community/my/dashboard_pages_add_document_link.html"/>
</div>
