<div id="page-docs-${c.pages_id}" class="admin-page-doc">
    <div style="float: left; width: 90%; clear: left;">
        <div>
            <span class="admin-page-doc-title">${c.page_item['title']}</span>
        </div>
        <div>
            <a href="/pages/show/id/${c.pages_id}/${c.page_num}" target="_blank"><img src="/images/actions/edit-find.png"></a> <span class="admin-page-doc-intro">${c.page_item['intro_clear'].strip()}</span>
        </div>
    </div>
    <div style="float: left; width: 10%; clear: right; text-align: right;">
        <img src="/images/packages/list-add.png" onmouseover="javascript:inItem(this)" onmouseout="javascript:outItem(this)" onclick="div_toggle_slide('page-docs-content-${c.pages_id}'); if ((this.value == undefined) || (this.value == '0')) { this.src = '/images/packages/list-remove.png'; this.value = '1'; } else { this.src = '/images/packages/list-add.png';  this.value = '0'; }" src="/images/packages/list-add.png"/>
    </div>
    <hr style="border-bottom: 1px dotted; clear: both"/>
    <div class="admin-page-doc-details">
        ${_("Type")}: <b>${c.page_type_desc}</b> | ${_("Username")}: <b>${c.page_item['username']}</b> | ${_("Published on")}: <b>${c.page_item['date']}</b>
        | ${_("Actions")}:
        <span id="admin-page-doc-state-${c.pages_id}">
            <% c.page_state = c.page_item['state'] %>
            <%include file="/community/my/dashboard_pages_state.html"/>
        </span>
        <span id="admin-page-doc-remove-${c.pages_id}-${c.page_num}">
            <img onclick="javascript:remove_document_page('${c.pages_id}','-1','page-item-${c.pages_id}','admin-page-doc-remove-${c.pages_id}-${c.page_num}');" onmouseover="javascript:inItem(this)" onmouseout="javascript:outItem(this)" src="/images/admin/edit-clear.png" title="${_("Remove")}" alt="${_("Remove")}"/>
        </span>
    </div>
</div>