<input type="hidden" name="pinboards_data_id" value="${c.pinboards_data_id}"/>
<input type="hidden" name="pinboards_id" value="${c.pinboards_id}"/>
<dl class="form-line">
    <dt class="form-left" style="width: 16em">
        <label><b>${_("Note")}</b></label>
        <br />
        <span style="font-size: 0.8em">${_("Write your note here")}</span>
    </dt>
    <dd>
        <textarea name="note" id="pinboard-element-edit-note-${c.pinboards_data_id}" style="width: 480px; height: 120px">${c.note}</textarea>
    </dd>
</dl>
<dl class="form-line">
    <dt class="form-left" style="width: 16em">
        <label><b>${_("Status")}</b></label>
        <br />
        <span style="font-size: 0.8em">${_("Come on, you are lazy")}</span>
    </dt>
    <dd>
        <select name="status">
            % for status in sorted(c.pinboard_data_status_desc.keys()):
                <option value="${status}"
                % if status == c.status:
                    selected
                % endif
                >
                    ${c.pinboard_data_status_desc[status]}
                </option>
            % endfor
        </select>
    </dd>
</dl>