## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="iso-8859-1"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<%include file="/head.html"/>
    <script type="text/javascript"><%include file="/../public/js/dashboard.js"/></script>
<script type="text/javascript" src="/js/yetii.js"></script>
<script type="text/javascript" src="/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/css/yetii.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/dashboard.css"/>
<script type="text/javascript" src="/js/tinymce_init.js"></script>
<body>
    <%include file="/wrapper.html"/>
    <div id="small_band">
        <%include file="/menu.html"/>
        <%include file="/small_band.html"/>
    </div>

    <div id="body">

        <!-- menu -->
        <div id="dashboard-menu" class="tabpanel">
            <div align="center" style="margin-bottom: 10px">
                <%include file="/adsense/728x15.html"/>
            </div>
            <ul id="dashboard-menu-nav" class="tabnav">
                <li><a href="#profile_tab"><span>${_("Profile")}</span></a></li>
                <li><a href="#pinboard_tab"><span>${_("Pinboard")}</span></a></li>
                <li><a href="#messages_tab"><span>${_("Messages")}</span></a></li>
                % if c.is_admin:
                    <li><a href="#news_tab"><span>${_("News / Pages")}</span></a></li>
                    <li><a href="#mirrors_tab"><span>${_("Mirrors")}</span></a></li>
                    <li><a href="#screenshots_tab"><span>${_("Screenshots")}</span></a></li>
                    <li><a href="#polls_tab"><span>${_("Polls")}</span></a></li>
                % endif
            </ul>

            <div id="profile_tab" class="tab">
                <%include file="/community/my/dashboard_profile_tab.html"/>
            </div>
            <div id="pinboard_tab" class="tab">
                <%include file="/community/my/dashboard_pinboard_tab.html"/>
            </div>
            <div id="messages_tab" class="tab">
                <h2>${_("Messages")}</h2>
                <div style="margin-bottom: 20px">
                    ${_("Not implemented yet. Sorrey!")}
                </div>
            </div>

            % if c.is_admin:
                <div id="news_tab" class="tab">
                    <%include file="/community/my/dashboard_pages_tab.html"/>
                </div>
                <div id="mirrors_tab" class="tab">
                    <%include file="/community/my/dashboard_mirrors_tab.html"/>
                </div>
                <div id="screenshots_tab" class="tab">
                    <%include file="/community/my/dashboard_screenshots_tab.html"/>
                </div>
                <div id="polls_tab" class="tab">
                    <%include file="/community/my/dashboard_polls_tab.html"/>
                </div>
            % endif

        </div>

    </div>

    <%include file="/footer.html"/>

<!-- setup menu -->
<script type="text/javascript">
    active = 1;
    menu_id = 'dashboard-menu';
    myurl = window.location.href;
    choose_id_idx = myurl.lastIndexOf("#");
    if (choose_id_idx > 0) {
        choose_id = myurl.slice(choose_id_idx+1);
        if (choose_id == "pinboard_tab") {
            active = 2;
        }
        else if (choose_id == "messages_tab") {
            active = 3;
        }
        else if (choose_id == "news_tab") {
            active = 4;
        }
        else if (choose_id == "mirrors_tab") {
            active = 5;
        }
        else if (choose_id == "screenshots_tab") {
            active = 6;
        }
        else if (choose_id == "polls_tab") {
            active = 7;
        }
    }
    var tabber = new Yetii(menu_id,active);
    tabber.init();
</script>

</body>
</html>
