## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="iso-8859-1"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<%include file="/head.html"/>
<body>
    <%include file="/wrapper.html"/>
    <div id="small_band">
        <%include file="/menu.html"/>
        <%include file="/small_band.html"/>
    </div>

    <div id="body">
        <div class="col-left">
            % if c.valid:
                ${_("Ok <b>ladies</b> and <b>gentlemen</b>. We have a <u>winner</u> here!")}
                <div style="margin-top: 25px">
                    ${_("You are now connected with %s's Pinboard titled \"<i>%s</i>\".") % (c.pinboard_username, c.pinboard_title,)}
                    <br/>${_("Click %shere%s to get to your personal Dashboard and <b>have fun</b>.") % ('<span style="font-size: 1.2em"><b><a href="' + c.dashboard_uri + '">', "</a></b></span>",)}
                </div>
            % else:
                ${_("We are <b>sorry</b>, the System encountered an error")}: <b>${c.error}</b>.
                <div style="margin-top: 20px">
                    ${_("Thus, <b>we cannot satisfy</b> your request. You can get to our <b><a href='/'>front page</a></b> and be happy anyway.")}
                </div>
                <div style="margin-top: 30px; text-align: right">
                    <i>${_("...Beeee happy! Don't worry, beeeee happy!")}</i>
                </div>
            % endif
        </div>
        <%include file="/body_right.html"/>
    </div>

    <%include file="/footer.html"/>
</body>
</html>