## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="iso-8859-1"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<%include file="/head.html"/>
<body>
    <%include file="/wrapper.html"/>
    <div id="small_band">
        <%include file="/menu.html"/>
        <%include file="/small_band.html"/>
    </div>

    <style type="text/css">
        .profile-form {
            width: 39em;
            background-color: #242424;
        }
    </style>

    <div id="body">
        <div id="profile-area" class="col-left">
            <div align="center" style="margin-bottom: 10px">
                <%include file="/adsense/468x15.html"/>
            </div>
            <div style="margin-bottom: 20px">
                <span style="font-size: 1.4em; font-weight: bold;">${_("This is just")} </span><span style="font-size: 1.4em; font-weight: bold; color: #C100C1">${c.profile_data.get('username')}</span><span style="font-size: 1.4em; font-weight: bold;">, ${_("hello !")}</span>
            </div>
            <div id="profile-data" style="width: 85%; margin-left: auto; margin-right: auto;">

                <%
                    #c.profile_data['group'] = c.profile_data['groups'].get(c.profile_data['group'])
                    c.profile_data['groups'] = ', '.join([c.profile_data['groups'][x] for x in c.profile_data['groups']])
                %>

                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Username")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("Just a nickname, what did you expect?")}</span>
                    </dt>
                    <dd>
                        ${c.profile_data.get('username')}
                    </dd>
                </dl>

                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("User identifier")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("This is the account number")}</span>
                    </dt>
                    <dd>
                        ${c.user_id}
                    </dd>
                </dl>

                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Website role")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("User's role inside our Website")}</span>
                    </dt>
                    <dd>
                        ${c.my_role}
                    </dd>
                </dl>

                % if c.profile_data.get('user_avatar_width') and c.profile_data.get('user_avatar'):
                    <dl class="form-line profile-form">
                        <dt class="form-left">
                            <label><b>${_("Avatar")}</b></label>
                            <br />
                            <span style="font-size: 0.8em">${_("User's virtual Alter-Ego")}</span>
                        </dt>
                        <dd>
                            <img src="${c.forum_uri_download}avatar=${c.profile_data.get('user_avatar')}" width="${c.profile_data.get('user_avatar_width')}" alt="${c.profile_data.get('username_clean')} ${_("avatar")}"/>
                        </dd>
                    </dl>
                % endif

                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Location")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("User comes from...")}</span>
                    </dt>
                    <dd>
                        ${c.profile_data.get('user_from')}
                    </dd>
                </dl>

                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Age")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("How many years are past, huh!")}</span>
                    </dt>
                    <dd>
                        ${c.user_age}
                    </dd>
                </dl>

                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Occupation")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("User's current job")}</span>
                    </dt>
                    <dd>
                        ${c.profile_data.get('user_occ')}
                    </dd>
                </dl>

                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Interests")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("User's interests, kinda self explanatory")}</span>
                    </dt>
                    <dd>
                        ${c.profile_data.get('user_interests')}
                    </dd>
                </dl>

                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Contacts")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("User's E-mail and IM")}</span>
                    </dt>
                    <dd>
                        <div style="position: relative; top: 5px">
                            % if c.profile_data.get('user_allow_viewemail'):
                                <a href="mailto:${c.profile_data.get('user_email')}"><img src="/images/im/email.png" title="${c.profile_data.get('user_email')}"/></a>
                            % endif
                            % if c.profile_data.get('user_jabber'):
                                <img src="/images/im/jabber.png" title="${c.profile_data.get('user_jabber')}"/>
                            % endif
                            % if c.profile_data.get('user_yim'):
                                <img src="/images/im/yim.png" title="${c.profile_data.get('user_yim')}"/>
                            % endif
                            % if c.profile_data.get('user_aim'):
                                <img src="/images/im/aim.png" title="${c.profile_data.get('user_aim')}"/>
                            % endif
                            % if c.profile_data.get('user_icq'):
                                <img src="/images/im/icq.png" title="${c.profile_data.get('user_icq')}"/>
                            % endif
                            % if c.profile_data.get('user_msnm'):
                                <img src="/images/im/msn.png" title="${c.profile_data.get('user_msnm')}"/>
                            % endif
                        </div>
                    </dd>
                </dl>

                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Website")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("User's Website")}</span>
                    </dt>
                    <dd>
                        <a href="${c.profile_data.get('user_website')}" target="_blank">${_("Click here to get there")}</a>
                    </dd>
                </dl>

                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Groups")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("Website groups user is in")}</span>
                    </dt>
                    <dd>
                        ${c.profile_data['groups']}
                    </dd>
                </dl>

                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Entropy role")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("User's role inside Entropy")}</span>
                    </dt>
                    <dd>
                        ${c.my_role}
                    </dd>
                </dl>
                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Votes")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("Number of times the User voted")}</span>
                    </dt>
                    <dd>
                        ${c.ugc_stats.get('votes')}
                    </dd>
                </dl>
                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Vote average")}</b></label>
                    </dt>
                    <dd>
                        ${c.ugc_stats.get('votes_avg')}
                    </dd>
                </dl>
                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Documents")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("Total number of documents")}</span>
                    </dt>
                    <dd>
                        ${c.ugc_stats.get('total_docs')}
                    </dd>
                </dl>
                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Comments")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("Number of comments")}</span>
                    </dt>
                    <dd>
                        ${c.ugc_stats.get('comments')}
                    </dd>
                </dl>
                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Images")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("Number of images")}</span>
                    </dt>
                    <dd>
                        ${c.ugc_stats.get('images')}
                    </dd>
                </dl>
                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Files")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("Number of files")}</span>
                    </dt>
                    <dd>
                        ${c.ugc_stats.get('files')}
                    </dd>
                </dl>
                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("YouTube(tm) Videos")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("Number of videos belonging")}</span>
                    </dt>
                    <dd>
                        ${c.ugc_stats.get('yt_videos')}
                    </dd>
                </dl>
                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Ranking")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("User rank inside our Community")}</span>
                    </dt>
                    <dd>
                        ${c.ugc_stats.get('ranking')}° ${_("position")}
                    </dd>
                </dl>
                <dl class="form-line profile-form">
                    <dt class="form-left">
                        <label><b>${_("Score")}</b></label>
                        <br />
                        <span style="font-size: 0.8em">${_("User's Community Score")}</span>
                    </dt>
                    <dd>
                        <span style="font-size: 1.5em">${c.ugc_stats.get('score')}</span> ${_("points")}
                    </dd>
                </dl>
            </div>
        </div>
        <%include file="/body_right.html"/>
    </div>

    <%include file="/footer.html"/>
</body>
</html>
