<form action="javascript:search_users('${c.form_id}','${c.results_div}','${c.spin_div}')" id="${c.form_id}" method="POST">
    <dl class="form-line">
        <dt class="form-left" style="width: 26em">
            <label><b>${_("User search")}</b></label>
            <br />
            <span style="font-size: 0.8em">${_("Write a search term on the right. E-mail, username, name, surname, you name it")}.</span>
        </dt>
        <dd>
            <input type="text" value="${c.user_search_term}" name="search" size="35" maxlength="80" style="padding: 5px; margin-top: 5px; height: 30px; font-weight: bold;"/>
        </dd>
    </dl>
    <input type="submit" value="${_("Search")}"/><span style="margin-left: 5px;" id="${c.spin_div}"></span>
    % if c.show_select_cb:
        <input type="hidden" value="1" name="show_select_cb"/>
        <input type="hidden" value="${c.select_cb_name}" name="select_cb_name"/>
    % endif
</form>