body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.65em;
    margin-left: auto;
    margin-right: auto;
    background: url("/images/shadow.png");
    background-repeat: repeat-x;
    background-position: center top;
}

input {
    border: 1px solid;
    font-size: 1em;
}

.inside {
    width: 99em;
}

#body {
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}

#sab_global_menu {
    background: none;
}

#packages-area {
    padding: 10px;
    background-color: #FFFFFF;
}

#packages-area-header {
    background: url("/images/header.png");
    background-repeat: no-repeat;
    background-position: left top;
    height: 158px;
    width: 1010px;
}

#loginbox {
    float: left;
    width: 250px;
}


#top_wrapper {
    color: #cccccc;
    background: none;
}

#top_wrapper a, #top_wrapper a:active, #top_wrapper a:link, #top_wrapper a:visited {
    color: #CCCCCC;
}

#left-area {
    float: left;
    width: 730px;
    min-height: 300px;
}

#right-area {
    margin: 0 0 0 740px;
    min-height: 300px;
}

#searchbox {

}

.form-left {
    display: block;
    float: left;
    margin-right: 15px;
    text-align: left;
    width: 26em;
}

.form-line {
    margin-bottom: 10px;
    overflow: hidden;
}

.search-tips {
    padding-top: 10px;
}

#search-img {
    padding: 0.1em 0;
    width: auto;
    color: #DDDDDD;
    font-size: 1.2em;
    font-weight: bold;
    float: right;
    border: 0;
}

#search-fields {
    vertical-align: middle;
    padding-left: 5px;
}

#search-term {
    border: 1px solid;
    font-size: 1em;
    height: 2.25em;
    width: 19.5em;
}

#search-form {

}

.widget {
    background: url("/images/searchbg.jpg") repeat scroll 0 0 #1853B9;
    border: 1px solid #0088BB;
    padding: 1.0em 0.75em;
    color: #FFFFFF;
    margin-bottom: 1.3em;
}

.widget a, .widget a:active, .widget a:link, .widget a:visited {
    color: #CCCCCC;
}

.widget hr {
    border-bottom: 1px dotted #FFFFFF;
    height: 1px;
}

.login-widget {
    /* text-align: right; */
}

.widget-title {
    padding-bottom: 12px;
    font-size: 1.1em;
}

#user-pass-fields {
    
}

#user-welcome-line {

}

#user-score-lines {

}

.packages-separator {
    border-bottom: 2px dotted #CCCCCC;
    border-top: 0 none;
    color: #FFFFFF;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 700px;
}

.packages-title {
    font-weight: bold;
    font-size: 1.4em;
    padding-bottom: 15px;
}

.package-widget-icon-area {
    float: left;
}

.package-widget-text-area {
    padding-left: 72px;
    padding-top: 25px;
}

.package-widget-title-area {
    background-repeat: no-repeat;
    background-position: left bottom;
    min-height: 105px;
    color: #FFFFFF;
    width: 700px;
}

.package-widget-title-area-binary {
    background-image: url("/images/pkgband.png");
}

.package-widget-title-area-source {
    background-image: url("/images/pkgband-source.png");
}

.group-widget-title-area {
    background-image: none;
    min-height: 48px;
    color: #333333;
}

.package-widget-meta-atom {
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 3px;
    max-width: 550px;
}

.group-widget-meta-atom {
    color: #333333;
}

.package-widget-meta-description {
    max-width: 550px;
    color: #DDDDDD;
}

.group-widget-meta-description {
    max-width: 550px;
    color: #333333;
}

.package-widget-icon {
    max-width: 64px;
    max-height: 64px;
}

.package-widget {
    clear: both;
}

.package-widget a, .package-widget a:active, .package-widget a:link, .package-widget a:visited {
    color: #EEEEEE;
}

.group-widget {
    padding: 1em;
}

.group-widget a, .group-widget a:active, .group-widget a:link, .group-widget a:visited {
    color: #222222;
}

.package-widget-base-meta-area {
    padding-top: 5px;
    padding-left: 8px;
}

.package-widget-first-area {
    min-height: 72px;
}

.group-widget-first-area {
    min-height: 68px;
    color: #333333;
}

.package-widget-stats-area {
    float: right;
    padding-right: 30px;
    padding-top: 3px;
    text-align: right;
}

.package-widget-meta-info {

}

.package-widget-meta-recent-change {

}

.package-widget-meta-recent-change-title {
    color: brown;
    font-weight: bold;
    padding-right: 5px;
}

.package-widget-meta-recent-change-data {
    
}

.package-widget-meta-list {
    padding-top: 10px;
}

.package-widget-meta-list-options {
    margin-top: 15px;
}

.package-widget-meta-list a, .package-widget-meta-list a:active, .package-widget-meta-list a:link, .package-widget-meta-list a:visited {
    color: teal;
}

.package-widget-meta-info a, .package-widget-meta-info a:active, .package-widget-meta-info a:link, .package-widget-meta-info a:visited {
    color: teal;
}


.package-widget-meta-list-row {
    padding-bottom: 4px;
}

.package-widget-meta-list-item {
    padding-left: 25px;
}

.package-widget-meta-list-url {
    position: relative;
    left: 2px;
    top: -4px;
}

.navigation-title {
    font-weight: bold;
}

.nothing-to-show {
    
}

.navigation-list-item {
    border-bottom: 1px dotted teal;
    font-size: 1.1em;
    font-variant: small-caps;
}

.packages-more-navbar {
    padding-bottom: 15px;
}

.packages-more-navbar-title {
    color: purple;
    font-weight: bold;
    font-size: 1.3em;
}

.packages-more-navbar-item-current {
    font-weight: bold;
    font-size: 1.5em;
    color: purple;
}

.packages-more-navbar-item {
    color: teal;
}

.did-you-mean {
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 1.5em;
    color: purple;
}

.very-bold {
    font-size: 1.8em;
}

#packages-result-more-link {
    text-align: center;
}

#packages-result-more-link-button {
    background-position: center bottom;
    border: medium none;
    color: white;
    cursor: pointer;
    height: 44px;
    margin: 0;
    vertical-align: top;
    background-repeat: repeat-x;
    width: 250px !important;
    background: url("/images/packages/more.png") no-repeat scroll 0 0 transparent;
    overflow: hidden;
    font-size: 2em;
}

.packages-search-nothing-found {
    font-size: 1.3em;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.packages-results-info {
    text-align: right;
    padding-bottom: 0.2em;
}

.packages-results-latest-info {
    color: #888888;
    font-size: 1.7em;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0.3em;
    padding-bottom: 10px;
}  

.package-widget-meta-list-left-item-binary {
    border-color: teal;
}

.package-widget-meta-list-left-item-source {
    border-color: purple;
}

.package-widget-meta-list-left-item {
    border-bottom: 1px dotted teal;
    margin-bottom: 5px;
}

.package-widget-meta-list-left-item dt {
    width: 12em;
    display: block;
    float: left;
    margin-right: 15px;
    text-align: left;
    color: #2454AE;
}

.package-widget-meta-list-left-item dd {
    color: #4B4848;
    padding-left: 14em;
}

.package-widget-show-what {
    
}

.package-widget-show-what pre {
    font-size: 1.3em;
}

.package-widget-show-what a, .package-widget-show-what a:active, .package-widget-show-what a:link, .package-widget-show-what a:visited {
    color: teal;
}

.package-widget-show-deps-generic {
    padding-bottom: 10px;
}

.package-widget-show-deps-title {
    font-weight: bold;
    padding-bottom: 10px;
}

.package-widget-show-deps-item {
    padding-bottom: 3px;
    padding-left: 30px;
    padding-top: 3px;
}

.package-widget-meta-list-left {
    padding-left: 10px;
    padding-right: 10px;
}

.package-widget-show-source-url-mirror {
    padding-left: 15px;
}

.package-ugc-doc-error {
    text-align: center;
    color: #FF0000;
}

.package-ugc-doc-header {
    text-align: right;
}

.package-ugc-doc-title {
    font-weight: bold;
    color: purple;
}

.package-ugc-doc {
    margin-bottom: 25px;
    border: 1px dotted brown;
    padding: 8px;
}

.package-ugc-doc-body {
    
}

.package-ugc-data {
    color: #5C5F5D;
}

.package-ugc-data-inside {
    
}

.package-ugc-data-image-inside {
    
}

.ugc-doc-desc-keywords {
    
}

.package-ugc-keywords {
    padding-bottom: 10px;
    text-align: right;
}

.ugc-do-doc {
    margin: 20px auto;
    width: 99%;
}

.ugc-do-doc-separator {
    
}


.ugc-yt-video-code {
    text-align: right;
}

.ugc-document-motivation {
    margin-bottom: 20px;
    font-size: 1.3em;
    text-align: right;
    font-style: italic;
}

.ugc-form-title {
    width: 26em;
}

.ugc-do-doc-textarea {
    width: 350px;
    height: 70px;
}

.ugc-do-doc-errors {
    text-align: right;
    margin-left: 10px;
    color: #FF0000;
}

.search-widget-special-search-item {
    border-bottom: 1px dotted teal;
    /* margin-bottom: 5px; */
}

.search-widget-special-search-item dt {
    width: 11em;
    display: block;
    float: left;
    margin-right: 15px;
    text-align: left;
}

.search-widget-special-search-item dd {
    padding-left: 5em;
}

.group-widget-view {
    table-layout: fixed;
    width: 100%;
}

.group-widget-view-col {
    
}

.packages-selector-area {
    
}

.packages-arch-selector {
    font-variant: small-caps;
    text-align: right;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding-left: 0.2em;
}

.packages-arch-selector-selected {
    background-color: #235AB2;
    color: white;

}

.view-selector-area {
    
}

.view-selector {
    font-variant: small-caps;
    text-align: right;
}

.packages-view-selector {
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding-left: 0.2em;
}

.packages-view-selector-selected { 
    background-color: #235AB2;
    color: white;

}
