body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.65em;
    margin-left: auto;
    margin-right: auto;
    background: url("/images/shadow.png");
    background-repeat: repeat-x;
    background-position: center top;

}

input {
    border: 1px solid;
    font-size: 1em;
}

#body {
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}

#sab_global_menu {
    background: none;
}

#packages-area {
    padding: 10px;
    background-color: #FFFFFF;
}

#packages-area-header {
    background: url("/images/header.png");
    background-repeat: no-repeat;
    background-position: left top;
    height: 158px;
    width: 980px;
}

#loginbox {
    float: left;
    width: 250px;
}


#top_wrapper {
    color: #cccccc;
    background: none;
}

#top_wrapper a, #top_wrapper a:active, #top_wrapper a:link, #top_wrapper a:visited {
    color: #CCCCCC;
}

#left-area {
    float: left;
    width: 700px;
    min-height: 300px;
}

#right-area {
    margin: 0 0 0 710px;
    min-height: 300px;
}

#searchbox {

}

.search-tips {
    padding-top: 10px;
}

#search-img {
    padding: 0.1em 0;
    width: auto;
    color: #DDDDDD;
    font-size: 1.2em;
    font-weight: bold;
    float: right;
    border: 0;
}

#search-fields {
    vertical-align: middle;
    padding-left: 5px;
}

#search-term {
    border: 1px solid;
    font-size: 1em;
    height: 2.25em;
    width: 19.5em;
}

#search-form {

}

.widget {
    background: url("/images/searchbg.jpg") repeat scroll 0 0 #1853B9;
    border: 1px solid #0088BB;
    padding: 1.0em 0.75em;
    color: #FFFFFF;
    margin-bottom: 1.3em;
}

.widget a, .widget a:active, .widget a:link, .widget a:visited {
    color: #CCCCCC;
}

.widget hr {
    border-bottom: 1px dotted #FFFFFF;
    height: 1px;
}

.login-widget {
    /* text-align: right; */
}

.widget-title {
    padding-bottom: 12px;
    font-size: 1.1em;
}

#user-pass-fields {
    
}

#user-welcome-line {

}

#user-score-lines {

}

.packages-separator {
    border-bottom: 2px dotted #CCCCCC;
    border-top: 0 none;
    color: #FFFFFF;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.packages-title {
    font-weight: bold;
    font-size: 1.4em;
    padding-bottom: 15px;
}

.package-widget-icon-area {
    float: left;
}

.package-widget-text-area {
    padding-left: 72px;
    padding-top: 25px;
}

.package-widget-title-area {
    background-repeat: no-repeat;
    background-position: left bottom;
    min-height: 105px;
    color: #FFFFFF;
}

.package-widget-title-area-binary {
    background-image: url("/images/pkgband.png");
}

.package-widget-title-area-source {
    background-image: url("/images/pkgband-source.png");
}

.package-widget-meta-atom {
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 3px;
    max-width: 550px;
}

.package-widget-meta-description {
    max-width: 550px;
    color: #DDDDDD;
}

.package-widget-icon {
    max-width: 64px;
    max-height: 64px;
}

.package-widget {
    clear: both;
}

.package-widget a, .package-widget a:active, .package-widget a:link, .package-widget a:visited {
    color: #EEEEEE;
}

.package-widget-base-meta-area {
    padding-top: 5px;
    padding-left: 8px;
}

.package-widget-first-area {
    min-height: 72px;
}

.package-widget-stats-area {
    float: right;
    padding-right: 30px;
    padding-top: 3px;
    text-align: right;
}

.package-widget-meta-info {

}

.package-widget-meta-recent-change {

}

.package-widget-meta-recent-change-title {
    color: brown;
    font-weight: bold;
    padding-right: 5px;
}

.package-widget-meta-recent-change-data {
    
}

.package-widget-meta-list {
    padding-top: 15px;
}

.package-widget-meta-list a, .package-widget-meta-list a:active, .package-widget-meta-list a:link, .package-widget-meta-list a:visited {
    color: teal;
}

.package-widget-meta-list-row {
    
}

.package-widget-meta-list-item {
    padding-left: 15px;
}

.package-widget-meta-list-url {
    position: relative;
    left: 2px;
    top: -4px;
}

.navigation-title {
    font-weight: bold;
}

.nothing-to-show {
    
}

.packages-more-navbar {
    padding-bottom: 15px;
}

.packages-more-navbar-title {
    color: purple;
    font-weight: bold;
    font-size: 1.3em;
}

.packages-more-navbar-item-current {
    font-weight: bold;
    font-size: 1.5em;
    color: purple;
}

.packages-more-navbar-item {
    color: teal;
}

.did-you-mean {
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 1.5em;
    color: purple;
}

.very-bold {
    font-size: 1.8em;
}

#packages-result-more-link {
    text-align: center;
}

#packages-result-more-link-button {
    background-position: center bottom;
    border: medium none;
    color: white;
    cursor: pointer;
    height: 44px;
    margin: 0;
    vertical-align: top;
    background-repeat: repeat-x;
    width: 250px !important;
    background: url("/images/packages/more.png") no-repeat scroll 0 0 transparent;
    overflow: hidden;
    font-size: 2em;
}

.packages-results-info {
    text-align: right;
}