<div style="margin-top: 20px; margin-bottom: 20px;">
    <div style="width: 90%; margin-left: auto; margin-right: auto" id="community-home">
        <div style="float: left; clear:left; width: 20%">
            <img src="/images/community.png" alt="${_("Community")}" title="${_("Community")}"/>
        </div>
        <div style="float: left; clear:right; width: 80%; padding-top: 30px">
            <i>${_("Being part of <b>our Community</b> is what make us proud of ourselves")}.</i><br/>
            ${_("This is the place where you can get in touch with people in our Community, see how good they are and get helped")}.
        </div>
        <div style="clear:both">
        </div>
    </div>
</div>