<div style="margin-top: 20px; margin-bottom: 20px;">
    <div style="margin-bottom: 10px">
        ${_("If you want to join our Community or just need help and make questions, here are some useful links you might need to look at")}.
    </div>
    <div>
        <ul>
            <li>
                <a href="/chat">${_("Sabayon Linux Support Chat")}</a>
            </li>
            <li>
                <a href="/users/profile/wolfden">${_("Wolfden, Sabayon Linux Chief Community Officer")}</a>
            </li>
            <li>
                <a href="/users/profile/lxnay">${_("Lxnay, Sabayon Linux Chief Architect")}</a>
            </li>
            <li>
                <a href="${c.forum_uri}">${_("Sabayon Linux Forum")}</a>
            </li>
        </ul>
    </div>
</div>