<script type="text/javascript">

function get_community_users_page(dest_div) {
    completeAHAH.ahah('/community/users', dest_div, null, 'get', null, packages_loading_html, undefined, false, dest_div);
}

function get_community_users_ranking(dest_div,offset) {
    completeAHAH.ahah('/community/ranking?offset=' + offset, dest_div, null, 'get', null, packages_loading_html, undefined, false, dest_div);
}

function get_community_useful_links(dest_div) {
    completeAHAH.ahah('/community/links', dest_div, null, 'get', null, packages_loading_html, undefined, false, dest_div);
}

</script>
<div align="center">
    <a href="/community">${_("Community Home")}</a> | <a href="javascript:get_community_users_page('community-home')">${_("Users")}</a> | <a href="javascript:get_community_users_ranking('community-home','0')">${_("Hall of fame")}</a> | <a href="#">${_("Blogs")}</a> | <a href="javascript:get_community_useful_links('community-home')">${_("Useful links")}</a>
</div>