<div style="margin-top: 20px; margin-bottom: 20px;">
    <div style="text-align: right; margin-bottom: 10px">
        <span style="font-style: italic">"${_("Ask not what your Community can do for you; ask what you can do for your Community")}."</span></span>
    </div>
    <div>
        <%
            mycount = 0

            total = c.found_users
            offset = c.offset
            divider = c.results_per_page

            pages_r = float(total) / divider
            r = int(pages_r) % (pages_r)
            pages = int(pages_r)
            if r > 0.0: pages += 1
            c.cur_page = int(offset*(pages_r)/total)
            c.pages = pages
            c.divider = divider

        %>
        <%include file="/community/ranking_page_browser.html"/>
        % for item in c.users:
            <%
                mycount += 1
                rand_name = c.rand_names[item['userid']%len(c.rand_names)]
                backgrounds = ["#302135","#422D49"]
                background = backgrounds[mycount%len(backgrounds)]
            %>
            <div style="margin-bottom: 5px; background-color: ${background}">
                <div style="clear: left; float: left; width: 80%">
                    ${item['ranking']}. <a href="${c.profile_uri}/${item['username']}"><span style="font-size: 1.1em; font-weight: bold">${item['username']}</span></a>, ${_("also known as")} <i>"${rand_name}"</i>
                </div>
                <div style="float: left; width: 20%; text-align: right">
                    <span style="font-weight: bold; font-size: 1.05em">${item['score']}</span> ${_("Points")}
                </div>
                <hr style="clear: both; margin: 1px thin #666666"/>
            </div>
        % endfor
        <%include file="/community/ranking_page_browser.html"/>
    </div>
</div>