<div style="margin-top: 20px; margin-bottom: 20px;">
    <div style="text-align: right; margin-bottom: 10px">
        <span style="font-style: italic">${_("Currently counting")}</span> <b>${c.users_count}</b> <span style="font-style: italic">${_("users... and <b>growing</b>")}</span>
    </div>
    <div>
        <% 
            c.results_div = 'community-users-search-result'
            c.form_id = 'community-users-form'
            c.spin_div = 'community-users-search-msg'
            c.show_select_cb = False
            c.select_cb_name = "disabled"
        %>
        <%include file="/community/users/search.html"/>
        <span id="community-users-search-msg"></span>
    </div>
    <div id="community-users-search-result" style="margin-top: 20px">
    </div>
</div>