## -*- coding: utf-8 -*-
<script type="text/javascript" src="/js/iCarousel-full.js"> </script>
<script type="text/javascript">
    window.addEvent("domready", function() {
            new iCarousel("shots_content", {
                    idPrevious: "shots_previous",
                    idNext: "shots_next",
                    idToggle: "undefined",
                    item: {
                            klass: "shots_item",
                            size: 190
                    },
                    animation: {
                            type: "scroll",
                            duration: 800,
                            amount: 3
                    }
            });
    });
</script>
<div id="inband">
    <div id="welcome">
        <h1>${_("the cutest, free Operating System")}</h1>
        <h2>${_("as easy as an abacus, as fast as a segway")} 
        % if session.get('logged_in'):
             | <i><a href="${c.forum_uri}">${_("Be active")}</a></i> 
        % else:
             | <i><a href="${c.register_uri}">${_("Join us")}</a></i> 
        % endif
        | <span style="font-weight: bold; font-size: 1.0em"><a href="/mirrors">${_("Download")}</a></span></h2>
        <div id="shots">
            <ul id="shots_content">
                %for small_pic, big_pic, myalt in c.shots_paths:
                    <li class="shots_item"><a href="${big_pic}" rel="lytebox[shots]"><img src="${small_pic}" alt="${myalt}"/></a></li>
                %endfor
            </ul>
            <div id="shots_frame">
                <img id="shots_previous" src="/images/shots/move_backward.png" alt="${_("move backward")}" />
                <img id="shots_next" src="/images/shots/move_forward.png" alt="${_("move forward")}" />
            </div>
        </div>
    </div>
    <div id="yt_video">${c.yt_vit_code}</div>
</div>