## -*- coding: utf-8 -*-
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    %if c.html_title:
        <title>${c.html_title | h}</title>
    %else:
        <title>Sabayon Entropy Store</title>
    %endif

    <meta name="keywords" content="sabayon, linux, operating systems, operating system, usb, liveusb, linux web, kernel, linux live, sabayon packages"/>
    %if c.html_description:
        <meta name="description" content="${c.html_description | h}"/>
    %else:
        <meta name="description" content="Sabayon Entropy Store"/>
    %endif

    <link rel="stylesheet" href="${c.HTTP_PROTOCOL}://static.sabayon.org/site/css/reset-min.css" type="text/css" />
    <link rel="stylesheet" href="${c.HTTP_PROTOCOL}://static.sabayon.org/site/css/global.css" type="text/css" />
    <link rel="stylesheet" href="${c.HTTP_PROTOCOL}://static.sabayon.org/site/css/global_menu.css" type="text/css" />
    <link rel="stylesheet" href="${c.HTTP_PROTOCOL}://static.sabayon.org/site/css/global_styles.css" type="text/css" />
    <link rel="stylesheet" href="${c.HTTP_PROTOCOL}://static.sabayon.org/site/css/style.css" type="text/css"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
    % if session.get('selected_view') == "compact" and (not c.show_detailed_view) and (not c.show_area):
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style-compact.css"/>
    % endif


    <link rel="stylesheet" type="text/css" media="screen" href="/css/lytebox.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/sexyalertbox.css"/>

    <script type="text/javascript" src="/js/aim.js"></script>
    <script type="text/javascript" src="/js/mootools-b62.js"></script>
    <script type="text/javascript" src="/js/mootools-more-b62.js"></script>
    <script type="text/javascript" src="/js/ahah.js"></script>
    <script type="text/javascript" src="/js/sexyalertbox.v1.1-b62.js"></script>
    <script type="text/javascript" src="/js/lytebox-b62.js"></script>
    <script type="text/javascript"><%include file="/../public/js/sabayon.js"/></script>

    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />

<!-- analytics -->
<script src="${c.HTTP_PROTOCOL}://www.google-analytics.com/urchin.js" mce_src="${c.HTTP_PROTOCOL}://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-258726-1";
urchinTracker();
</script>

</head>
