## -*- coding: utf-8 -*-
<div id="menu" class="konafilter">
    <ul class="dropdown" id="dropdown-menu">
        <li>
            <span>${_("Communicate")}</span>
            <ul>
                <li class="item">
                    <a href="/pages/show/id/62"><span>${_("Organisation")}</span></a>
                </li>
                <li class="item">
                    <a href="http://planet.sabayon.org"><span>${_("Planet")}</span></a>
                </li>
                <li class="item">
                    <a href="${c.forum_uri}"><span>${_("Forum")}</span></a>
                </li>
                <li class="item">
                    <a href="http://wiki.sabayon.org"><span>${_("Wiki")}</span></a>
                </li>
                <li class="item">
                    <a href="/chat"><span>${_("Web Chat")}</span></a>
                </li>
                <li class="item">
                    <a href="/pages/show/id/65/0"><span>${_("Press Documentation")}</span></a>
                </li>
                <li class="item">
                    <a href="/pages/show/id/80/0"><span>${_("Sabayon Roadmap")}</span></a>
                </li>
            </ul>
        </li>
        <li>
            <span>${_("Get involved")}</span>
            <ul>
                <li class="item">
                    <a href="/pastebin"><span>${_("PixPastebin")}</span></a>
                </li>
                <li class="item">
                    <a href="/community"><span>${_("Community")}</span></a>
                </li>
                <li class="item">
                    <a href="/packages"><span>${_("Packages and UGC")}</span></a>
                </li>
                <li class="item">
                    <a href="/entropy/api/docs"><span>${_("Entropy API documentation")}</span></a>
                </li>
                <li class="item">
                    <a href="http://bugs.sabayon.org"><span>${_("Report a bug")}</span></a>
                </li>
                <li class="item">
                    <a href="http://gitweb.sabayon.org"><span>${_("Browse Git")}</span></a>
                </li>
                <li class="item">
                    <a href="http://lists.sabayon.org"><span>${_("Mailing Lists")}</span></a>
                </li>
                <li class="item">
                    <a href="/pages/show/id/64"><span>${_("Funding")}</span></a>
                </li>
            </ul>
        </li>
        <li>
            <span>${_("Enjoy Sabayon")}</span>
            <ul>
                <li class="item">
                    <a href="/screenshots"><span>${_("Screenshots")}</span></a>
                </li>
                <li class="item">
                    <a href="/mirrors"><span>${_("Download")}</span></a>
                </li>
                <li class="item">
                    <a href="javascript:where_to_buy();"><span>${_("CD/DVD Distributors")}</span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>
