% if not c.show_detailed_view and not c.search_showing_latest:
    <div class="packages-selector-area">
        <div class="packages-arch-selector">
            <b>${_("Architecture")}</b>:
            <% selected = session.get('selected_arch', "all") %>
            % for arch in sorted(c.available_arches_selector):
                <%
                    selector_css_class=""
                    if arch == selected:
                        selector_css_class="packages-arch-selector-selected"
                    filter_opts = ""
                    if c.search_filter_str:
                        filter_opts += "&filter=" + c.search_filter_str
                    if c.search_filter_data:
                        filter_opts += "&filter_data=" + c.search_filter_data
                    q_str = ""
                    if c.quick_search_string:
                        q_str = "?q=" + c.quick_search_string
                %>
                <span class="packages-arch-selector ${selector_css_class}">
                % if arch == selected:
                    <b>${c.available_arches_selector[arch]}</b>
                % else:
                    <a href="${c.base_switch_arch_url}/${arch}${q_str}${filter_opts}">${c.available_arches_selector[arch]}</a>
                % endif
                </span>
            % endfor
        </div>
    </div>
% endif
% if not c.show_detailed_view:
    <div class="view-selector-area">
        <div class="view-selector">
            <b>${_("View")}</b>:
            <% selected = session.get('selected_view', "default") %> 
            % for view in ("default", "compact"):
                <%
                    selector_css_class=""
                    if view == selected:
                        selector_css_class="packages-view-selector-selected"
                    filter_opts = ""
                    if c.search_filter_str:
                        filter_opts += "&filter=" + c.search_filter_str
                    if c.search_filter_data:
                        filter_opts += "&filter_data=" + c.search_filter_data
                    q_str = ""
                    if c.quick_search_string:
                        q_str = "?q=" + c.quick_search_string
                %>
                <span class="packages-view-selector ${selector_css_class}">
                % if view == selected:
                    <b>${view}</b>
                % else:
                    <a href="${c.base_switch_view_url}/${view}${q_str}${filter_opts}">${view}</a>
                % endif
                </span>
            % endfor
        </div>
    </div>
% endif