## -*- coding: utf-8 -*-
<div class="package-widget">
    <div class="package-widget-top">
        <%
            icon_url = c.pkg_data['ugc']['icon']
            if icon_url is None:
                icon_url = c.group_icon_url_64 + "/" + c.pkg_data['ugc']['category_icon']
            if c.pkg_data['is_source_repo']:
                css_class = "package-widget-title-area-source"
                css_meta_info_class = "package-widget-meta-info-source"
            else:
                css_class = "package-widget-title-area-binary"
                css_meta_info_class = "package-widget-meta-info-binary"
        %>
        <div class="package-widget-title-area ${css_class}">
            <div class="package-widget-first-area">
                <div class="package-widget-icon-area">
                    <img class="package-widget-icon" src="${icon_url}" alt="package icon"/>
                </div>
                <div class="package-widget-text-area">
                    <div class="package-widget-stats-area">
                        <%include file="/stars_rating.html"/>
                        <div>
                            <b>${c.pkg_data['ugc']['downloads']}</b> ${_("downloads")}
                        </div>
                    </div>
                    <div class="package-widget-meta-atom">
                        <a href="${c.base_package_show_url}/${c.pkg_data['hash_id']}">${c.pkg_data['atom']}</a>
                    </div>
                    <div class="package-widget-meta-description">
                        ${c.pkg_data['description'] | h,trim}
                    </div>
                </div>
            </div>
            <div class="package-widget-base-meta-area">
                % if c.pkg_data['is_source_repo']:
                    <b>${_("source")}</b> &rarr;
                % else:
                    <b>${_("binary")}</b> &rarr;
                    <b>${c.pkg_data['product']}</b> &rarr;
                % endif
                <b>${c.pkg_data['repository_id']}</b>
                % if not c.pkg_data['is_source_repo']:
                     &rarr; <b>${c.pkg_data['arch']}</b> &rarr;
                    <b>${c.pkg_data['branch']}</b> |
                    ${_("revision")}: <b>${c.pkg_data['revision']}</b> |
                % else:
                    % if c.pkg_data['spm_repo']:
                        &rarr; <b>${c.pkg_data['spm_repo']}</b>
                    % endif
                    |
                % endif
                ${_("date")}: <b>${c.pkg_data['date']}</b>
            </div>
        </div>

        <div class="package-widget-meta-info ${css_meta_info_class}">
            % if c.pkg_data['change']:
                <div class="package-widget-meta-recent-change">
                    <span class="package-widget-meta-recent-change-title">
                        ${_("Recent Changes")}:
                    </span>
                    <span class="package-widget-meta-recent-change-data">
                        ${c.pkg_data['change'] | h,trim}
                    </span>
                </div>
            %endif
            % if c.show_detailed_view:
                <div class="package-widget-meta-list package-widget-meta-list-extended">
                    <div class="package-widget-meta-list-left">
                        % for obj in c.pkg_data['brief_list']:
                            <% key = obj['key'] %>
                            % if key in c.pkg_data:
                                <div class="package-widget-meta-list-left-item package-widget-meta-list-left-${key}">
                                    ${obj['name']}:
                                    % if obj['url']:
                                        <a href="${obj['url']}" ${obj['extra_url_meta']}>${c.pkg_data[key]}</a>
                                    % else:
                                        ${c.pkg_data[key]}
                                    % endif
                                </div>
                            % endif
                        % endfor
                    </div>
                    <div class="package-widget-meta-list-right">

                    </div>
                    ${c.pkg_data['meta_items']}
                    <br/>
                    <br/>
                    ${c.pkg_data}
                </div>
            % else:
                <%
                    max_cols = 5
                    count = 0
                %>
                <div class="package-widget-meta-list">
                    <% do_close = False %>
                    % for item in c.pkg_data['meta_items']:
                        % if count == 0:
                            <div class="package-widget-meta-list-row">
                            <% do_close = True %>
                        % endif
                        <span class="package-widget-meta-list-item">
                            % if item['icon']:
                                <img src="${c.meta_list_url}/${item['icon']}" alt="${item['alt']}"/>
                            % endif
                            <a href="${item['url']}" class="package-widget-meta-list-url" ${item.get('extra_url_meta', "")}>${item['name']}</a>
                        </span>
                        <% count += 1 %>
                        % if count == max_cols:
                            <% count = 0 %>
                            % if do_close:
                                </div>
                                <% do_close = False %>
                            % endif
                        % endif
                    % endfor
                    % if do_close:
                        </div>
                        <% do_close = False %>
                    % endif
                </div>
            % endif
        </div>

    </div>
</div>