## -*- coding: utf-8 -*-
<div class="package-widget">
    <div class="package-widget-top">
        <%
            icon_url = c.pkg_data['ugc']['icon']
            if icon_url is None:
                icon_url = c.group_icon_url_64 + "/" + c.pkg_data['ugc']['category_icon']
            if c.pkg_data['is_source_repo']:
                css_class = "package-widget-title-area-source"
                css_meta_info_class = "package-widget-meta-info-source"
            else:
                css_class = "package-widget-title-area-binary"
                css_meta_info_class = "package-widget-meta-info-binary"
        %>
        <div class="package-widget-title-area ${css_class}">
            <div class="package-widget-first-area">
                <div class="package-widget-icon-area">
                    <img class="package-widget-icon" src="${icon_url}" alt="package icon"/>
                </div>
                <div class="package-widget-text-area">
                    <div class="package-widget-stats-area">
                        <%include file="/stars_rating.html"/>
                        <div>
                            <b>${c.pkg_data['ugc']['downloads']}</b> ${_("downloads")}
                        </div>
                    </div>
                    <div class="package-widget-meta-atom">
                        <a href="${c.base_package_show_url}/${c.pkg_data['hash_id']}">${c.pkg_data['atom']}</a>
                    </div>
                    <div class="package-widget-meta-description">
                        ${c.pkg_data['description'] | h,trim}
                    </div>
                </div>
            </div>
            <div class="package-widget-base-meta-area">
                % if c.pkg_data['is_source_repo']:
                    <b>${_("source")}</b> &rarr;
                % else:
                    <b>${_("binary")}</b> &rarr;
                    <b>${c.pkg_data['product']}</b> &rarr;
                % endif
                <b>${c.pkg_data['repository_id']}</b>
                % if not c.pkg_data['is_source_repo']:
                     &rarr; <b>${c.pkg_data['arch']}</b> &rarr;
                    <b>${c.pkg_data['branch']}</b> |
                    ${_("revision")}: <b>${c.pkg_data['revision']}</b> |
                % else:
                    % if c.pkg_data['spm_repo']:
                        &rarr; <b>${c.pkg_data['spm_repo']}</b>
                    % endif
                    |
                % endif
                ${_("date")}: <b>${c.pkg_data['date']}</b>
            </div>
        </div>

        <div class="package-widget-meta-info ${css_meta_info_class}">
            % if c.pkg_data['change']:
                <div class="package-widget-meta-recent-change">
                    <span class="package-widget-meta-recent-change-title">
                        ${_("Recent Changes")}:
                    </span>
                    <span class="package-widget-meta-recent-change-data">
                        ${c.pkg_data['change'] | h,trim}
                    </span>
                </div>
            %endif
            % if c.show_detailed_view:
                <div class="package-widget-meta-list package-widget-meta-list-extended">
                    <div class="package-widget-meta-list-left konafilter">
                        % for obj in c.pkg_data['brief_list']:
                            <% key = obj['key'] %>
                            % if c.pkg_data.get(key):
                                <%
                                    dd_css_class = "binary"
                                    if c.pkg_data['is_source_repo']:
                                        dd_css_class = "source"
                                    if c.pkg_data['is_source_repo'] and (key in "size", "download", "digest", "sha256", "ondisksize"):
                                        continue
                                %>
                                <dl class="package-widget-meta-list-left-item package-widget-meta-list-left-item-${dd_css_class} package-widget-meta-list-left-${key}">
                                    <dt>
                                        <!-- <img src="${c.meta_list_url}/${obj['icon'] | h}" alt="${obj['name'] | h}"/> --> ${obj['name'] | h}
                                    </dt>
                                    <dd>
                                        % if obj['split']:
                                            % if not isinstance(c.pkg_data[key], (tuple, list, dict, set, frozenset)):
                                                <% split_item = c.pkg_data[key].split() %>
                                            % else:
                                                <% split_item = c.pkg_data[key] %>
                                            % endif
                                            % for item in split_item:
                                                % if obj['url']:
                                                    <a href="${obj['url'].replace("--item--", item)}" ${obj['extra_url_meta']}>${item | h}</a>
                                                % else:
                                                    ${item | h}
                                                % endif
                                            % endfor
                                        % else:
                                            % if obj['url']:
                                                <a href="${obj['url']}" ${obj['extra_url_meta']}>${c.pkg_data[key] | h}</a>
                                            % else:
                                                ${c.pkg_data[key] | h}
                                            % endif
                                        % endif
                                    </dd>
                                </dl>
                            % endif
                        % endfor
                    </div>
                </div>
            % endif
            <%
                max_cols = 5
                if c.show_detailed_view:
                    max_cols = 4
                count = 0
            %>
            <% do_close = False %>
            <table class="package-widget-meta-list package-widget-meta-list-options">
            % for item in c.pkg_data['meta_items']:
                % if c.show_detailed_view and item['id'] in ("details",):
                    <% continue %>
                % endif
                % if count == 0:
                    <tr class="package-widget-meta-list-row">
                    <% do_close = True %>
                % endif
                <td class="package-widget-meta-list-item">
                    % if item['icon']:
                        <img src="${c.meta_list_url}/${item['icon']}" alt="${item['alt']}"/>
                    % endif
                    <a href="${item['url']}" title="${item['alt']}" class="package-widget-meta-list-url" ${item.get('extra_url_meta', "")}>${item['name']}</a>
                </td>
                <% count += 1 %>
                % if count == max_cols:
                    <% count = 0 %>
                    % if do_close:
                        </tr>
                        <% do_close = False %>
                    % endif
                % endif
            % endfor
            % if do_close:
                </tr>
                <% do_close = False %>
            % endif
            </table>
            % if c.package_show_what:
                <hr class="packages-separator"/>
                <div class="package-widget-show-what" id="package-widget-show-what">
                    <% what = c.package_show_what['what'] %>
                    % if what == "changelog":
                        <%include file="/package_show_changelog.html"/>
                    % elif what == "dependencies":
                        <%include file="/package_show_deps.html"/>
                    % elif what == "reverse_dependencies":
                        <%include file="/package_show_revdeps.html"/>
                    % elif what == "security":
                        <%include file="/package_show_security.html"/>
                    % elif what == "mime":
                        <%include file="/package_show_mime.html"/>
                    % elif what == "provided_libs":
                        <%include file="/package_show_provided_libs.html"/>
                    % elif what == "needed_libs":
                        <%include file="/package_show_needed_libs.html"/>
                    % elif what == "content":
                        <%include file="/package_show_content.html"/>
                    % elif what == "download":
                        <%include file="/package_show_download.html"/>
                    % elif what == "sources":
                        <%include file="/package_show_sources.html"/>
                    % elif what == "ugc":
                        <%include file="/package_show_ugc.html"/>
                    % endif
                </div>
            % endif
        </div>
    </div>
</div>
