% if c.package_show_what.get('data', {}).get('needed_libs'):
    <div class="package-widget-show-revdeps">
        <div class="package-widget-show-deps-generic">
            <div class="package-widget-show-deps-title">
                ${_("Needed libraries")}
            </div>
            % for usr_path, usr_soname, soname, elf, rpath in c.package_show_what['data']['needed_libs']:
                <div class="package-widget-show-deps-item">
                    <a href="${c.base_search_url}?q=${c.search_prefixes['library'] | u}${soname | u}&a=${c.package_show_what['data']['arch'] | u}&b=${c.package_show_what['data']['branch'] | u}" rel="nofollow">
                        ${soname | h,trim}:${elf | h,trim} by ${usr_path | h,trim}, RPATH="${rpath | h,trim}"
                    </a>
                </div>
            % endfor
        </div>
    </div>
% else:
        <div class="package-widget-show-deps-generic package-widget-show-deps-no">
            <div class="package-widget-show-deps-title">
                ${_("No libraries needed by package")}
            </div>
        </div>
% endif
