% if c.search_pkgs:
    % if c.total_search_results:
        <div class="packages-results-info">
            <% 
                zecondz = "zarro"
                if c.packages_search_time:
                    zecondz = c.packages_search_time
            %>
            ${_("Results found")}: ${c.total_search_results} (${zecondz} ${_("seconds")})
        </div>
    % elif c.show_detailed_view:
        <%include file="/search_time_widget.html"/>
        <div class="packages-results-info packages-results-latest-info">
            ${_("package")}
        </div>
    % elif c.search_showing_latest:
        <%include file="/search_time_widget.html"/>
        <div class="packages-results-info packages-results-latest-info">
            ${_("latest")}
        </div>
    % endif
    % if c.did_you_mean:
        <div class="did-you-mean">
            ${_("Found <b>nothing</b> while searching for")}: <b class="very-bold">${c.quick_search_string | h,trim}</b>, ${_("you probably mispelled it")}.
        </div>
        <hr class="packages-separator"/>
    % endif
    <%include file="/search_results_area.html"/>
    % if c.search_there_is_more:
        <%
            total = c.search_there_is_more_total
            shown = c.max_results
            to_go = c.search_there_is_more
            started_from = c.from_pkg
            chunks = total / shown
            max_results = c.max_results
            filter_opts = ""
            if c.search_filter_str:
                filter_opts += "&filter=" + c.search_filter_str
            if c.search_filter_data:
                filter_opts += "&filter_data=" + c.search_filter_data
        %>
        <div id="packages-results-more-hot">
            <div id="packages-results-more-from-counter" style="display: none">${started_from}</div>
            <div id="packages-results-more-from-counter-step" style="display: none">${max_results}</div>
            <div id="packages-results-more-inside"></div>
            <div id="packages-result-more-link">
                <input type="button" id="packages-result-more-link-button" onclick="this.blur();packages_search_more('${c.total_search_results}', '${c.base_search_url}?q=${c.quick_search_string | h,trim}&more=1${filter_opts}', 'packages-results-more-inside', 'packages-results-more-from-counter', 'packages-results-more-from-counter-step', 'packages-result-more-link')" value="${_("more results")}"/>
            </div>
        </div>
    % endif
% elif c.search_nothing_found: 
    <%include file="/packages_area_selectors.html"/>
    <div class="packages-search-nothing-found">
        ${_("Sorry, <b>I wasn't able to find anything relevant</b>... So long, so long, and thanks for all the fish!")}
    </div>
% else:
    <%include file="/packages_area_selectors.html"/>
    <div class="nothing-to-show">
        Sorry, aliens kidnapped the President.
    </div>
% endif