## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "${c.HTTP_PROTOCOL}://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="iso-8859-1"?>
<html xmlns="${c.HTTP_PROTOCOL}://www.w3.org/1999/xhtml">
<%include file="/head.html"/>
<link href="/css/packages.css" rel="stylesheet" type="text/css"/>
<body>
    <%include file="/top_wrapper.html"/>
    <div id="body">
        <div id="packages-area" class="inside">
            <div id="left-area" class="packages-search-nothing-found">
                ${_("Call the cops! <b>This page has been stolen!</b>")}
            </div>
            <div id="right-area">
                <%include file="/right_area.html"/>
            </div>
        </div>
    </div>

    <%include file="/footer.html"/>
</body>
</html>