<div id="searchbox" class="widget">
    <form id="search-form" action="/quicksearch" method="GET">
        <fieldset id="search-fields">
            <input id="search-term" type="text" maxlength="30" name="q" value="${c.quick_search_string | h,trim}"/>
            <input id="search-img" type="image" alt="S" value="S" src="/images/search-icon.png">
        </fieldset>
    </form>
    <div class="search-tips konafilter">
        <div class="widget-title navigation-title">
            <b>${_("Special searches")}</b>
        </div>
        <div>
            ${_("Category")}: <b>${c.search_prefixes['category']} app-foo foo-bar</b>
        </div>
        <div>
            ${_("License")}: <b>${c.search_prefixes['license']} GPL-2 as-is</b>
        </div>
        <div>
            ${_("Useflag")}: <b>${c.search_prefixes['useflag']} mp3</b>
        </div>
        <div>
            ${_("Package Sets")}: <b>@setname</b>
        </div>
        <div>
            ${_("Files")}: <b>/path/to/something</b>
        </div>
        <div>
            ${_("Libraries")}: <b>${c.search_prefixes['library']} libdl.so.2</b>
        </div>
        <div>
            ${_("Mime")}: <b>${c.search_prefixes['mime']} text/plain text/plain2</b>
        </div>
    </div>
</div>