## -*- coding: utf-8 -*-
<div id="sab_global_menu">
    <div id="sab_global_menu_inner" class="inside">
        <ul>
            <li><a accesskey="h" href="https://sabayon.org">Home</a></li>
            <li><a accesskey="f" href="https://forum.sabayon.org">Forums</a></li>
            <li><a accesskey="w" href="https://wiki.sabayon.org">Wiki</a></li>
            <li><a accesskey="b" href="https://bugs.sabayon.org">Bugs</a></li>
            <li><a accesskey="s" href="https://pastebin.sabayon.org">Pastebin</a></li>

            <li><a accesskey="a" href="https://packages.sabayon.org"><b>Packages</b></a></li>
            <li><a accesskey="g" href="https://git.sabayon.org">Git</a></li>
            <li><a accesskey="d" href="https://sabayon.org/download">Download</a></li>
        </ul>
    </div>
</div>
<div id="top_wrapper">
    <!-- nothing -->
</div>


